API_URL=https://api.flutterflare.com
API_KEY=PROD_API_KEY
ENABLE_ANALYTICS=true
ENABLE_CRASHLYTICS=true
LOG_LEVEL=ERROR
STRIPE_PUBLISHABLE_KEY=pk_live_123456789
STRIPE_SECRET_KEY=sk_live_123456789
PAYSTACK_SECRET_KEY=sk_live_123456789
PAYSTACK_PUBLIC_KEY=pk_live_123456789
ALGOLIA_APP_ID=PROD_ALGOLIA_APP_ID
ALGOLIA_API_KEY=PROD_ALGOLIA_API_KEY